body,html {
	height:100%; 
	position:relative;
}
#map_content {
	width:100%;
	height:100%;
}
#map_canvas {
	width:80%;
	height:100%;
	float:left;
}
.map_side {
	width:20px;
	background:white;
	float:right;
}
.button{
	width:auto;
}
#optionswindow {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
	background:black;
    	width: 200px;
    	height: 200px;
}
